<div class="balances-section">
  <div class="balances-container">
    <balance-card title="Saldo General en Cuenta" [isGeneral]="true" [amount]="balances.saldoGeneral"></balance-card>
    <balance-card title="Total de Ingresos" [amount]="balances.ingresos"></balance-card>
    <balance-card title="total de gastos" [amount]="balances.gastos"></balance-card>
  </div>
</div>
