@use  './../../../assets/styles/variables';
.balances-section{
  background-color: variables.$background-blue;
  padding: .5rem 0;
}

.balances-container{
  width: 95%;
  max-width: 60rem;
  margin: auto;
  display: flex;
  column-gap: .5rem;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .balances-container{
    overflow: auto;
  }
}
