@use './../../../assets//styles/variables';

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  max-width: 60rem;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 1rem;
}

.footer h4{
  color: variables.$grey;
}

.footer p{
  color: variables.$grey-light;
}

.footer h4, .footer p{
  margin: 0;
  font-size: .8rem;
  text-align: center;
}

@media (min-width: 768px) {
  .footer{
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-info{
    width: 45%;
  }

  .footer h4, .footer p{
    text-align: left;
  }
}
