<div class="footer">
  <div class="footer-info">
    <h4>BankApp</h4>
    <h4>Powered by Conecta Mexico</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus consequuntur</p>
  </div>
  <logo styleLogo="grey"></logo>
</div>
