<div class="nav-section">
  <div class="logo-nav-container">
    <logo></logo>
    <h2 class="slogan">Powered by Conecta</h2>
  </div>
  <div class="navigation">
    <a routerLink="/panel" routerLinkActive="active">Mis cuentas</a>
    <a routerLink="/send" routerLinkActive="active">Enviar dinero</a>
  </div>
  <div class="info-user">
    <h4>{{account.nombre}}</h4>
    <p>Ultimo inicio {{ account.ultimaSesion | date: 'dd/MM/yyyy' }}</p>
  </div>
</div>
