@use './../../../assets/styles/variables.scss';

.nav-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 60rem;
  margin: auto;
  flex-direction: column;
}

.logo-nav-container{
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.slogan{
  color: variables.$grey-light;
  margin: 0;
  margin-left: .5rem;
  font-size: .8rem;
}

.navigation{
  display: flex;
  align-items: center;
}

.navigation a{
  text-decoration: none;
  padding: 1.5rem;
  color: variables.$grey;
  text-transform: uppercase;
}

.active{
  background-color: variables.$background-white;
  color: variables.$base-color !important;
  font-weight: 500;
}

.info-user{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info-user h4, .info-user p{
  margin: 0;
  text-align: center;
  font-size: .8rem;
}

.info-user h4{
  color: variables.$grey;
}

.info-user p{
  color: variables.$grey-light;
}

@media (min-width: 768px) {
  .nav-section{
    flex-direction: row;
  }

  .logo-nav-container{
    padding: 0;
  }

  .info-user{
    align-items: flex-end;
  }

  .info-user h4, .info-user p{
    text-align: right;
  }
}
