@use './../../../assets/styles/variables';

.background {
  background-color: variables.$background-white;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}

.content-container{
  width: 95%;
  max-width: 60rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content-container{
    flex-direction: row;
  }

  .cards-container{
    width: 28%;
  }

  .transaction-container{
    width: 70%;
  }
}
