@use './../../../assets/styles/variables.scss';

.logo-container{
  display: flex;
  align-items: center;
}

div.green{
  border: 3px solid variables.$base-color;

}

h1.green{
  color: variables.$base-color;
}

div.grey{
  border: 3px solid variables.$grey;
}

h1.grey{
  color: variables.$grey;
}

.app-name{
  margin: 0;
  margin-left: .3rem;
  font-size: 1rem;
}

.circle{
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}
