@use './../../../assets/styles/variables';

.activa{
  background-color: variables.$base-color;

}
.desactivada{
  background-color: variables.$base-color-light;

}
.credit-card{
  padding: .3rem .5rem;
  color: #fff;
  margin-bottom: 1rem;
  position: relative;
}

.credit-card p{
  margin: 0;
  line-height: 1.5;
  font-size: .8rem;
  text-transform: capitalize;
}

.credit-card-title-container{
  display: flex;
  justify-content: space-between;
}

.logo-mastercard{
  position: absolute;
  bottom: 1.2rem;
  right: 2rem;
}

.logo-mastercard div{
  border-radius: 50%;
  width: .8rem;
  height: .8rem;
  position: absolute;
}

.logo-mastercard .red{
  background-color: variables.$mastercard-red;
}

.logo-mastercard .yellow{
  background-color: variables.$mastercard-yellow;
  opacity: .8;
  left: .5rem;
}
