<div class="card-mixin credit-card {{card.estado}}">
  <div class="credit-card-title-container">
    <p>{{card.estado}}</p>
    <p>{{ card.saldo | currency }}</p>
  </div>
  <p>{{ utils.cc_format(card.tarjeta) }}</p>
  <p>{{card.nombre}}</p>
  <p>{{card.tipo}}</p>
  <div class="logo-mastercard">
    <div class="red"></div>
    <div class="yellow"></div>
  </div>
</div>
