@use './../../../assets/styles/variables';

.balance-card{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem;
  width: 15rem;
}

.balance-card h4{
  margin: 0;
}

.balance-title{
  color: variables.$font-blue;
  font-size: .8rem;
  width: 45%;
  text-transform: uppercase;
}

.general{
  color: variables.$base-color;
}

.balance-amount{
  color: variables.$grey;
  font-weight: 400;
}
