@use './../../../assets/styles/variables';

.table-container{
  background-color: #fff;
}

.table-container{
  width: 100%;
}

.table{
  width: 100%;
  padding: 1rem 0;
  font-size: .8rem;
}

.table .table-head tr{
  border-bottom: 2px solid variables.$grey-light;
  padding: 0 1rem;
}

.table th, .table td{
  color: variables.$grey;
  text-align: left;
  font-weight: 400;
}

.table-amount p{
  font-weight: 600;
}

.amount-grey p{
  color: variables.$grey;
}

.amount-red p{
  color: variables.$red;
}
