<div>
  <h4 class="title-section">Movimientos</h4>
  <div class="card-mixin table-container">
    <table class="table" >
      <thead class="table-head">
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr *ngFor="let transaction of transactions">
          <td>{{transaction.fecha}}</td>
          <td>{{transaction.descripcion}}</td>
          <td class="table-amount {{ transaction.tipo === 'abono' ? 'amount-grey' : 'amount-red'}}"><p>{{ transaction.monto | currency}}</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
