/* You can add global styles to this file, and also import other style files */
@use './assets/styles/mixins';
@use './assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: relative;
}

html{
  background-color: variables.$background-white;
}

.card-mixin{
  @include mixins.card
}

.title-section{
  color: variables.$grey;
  font-weight: 400;
  font-size: .8rem;
  text-transform: uppercase;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.modal-backdrop{
  background: #ffffff;
}

.modal-header{
  padding: 1rem 0;
}
