<div>
  <h4 class="title-section">Mis cuentas</h4>
  <div>
    <credit-card *ngFor="let card of cards" [card]="card"></credit-card>
  </div>
  <button class="add-card" (click)="open(content)">
    <span>Agregar tarjeta</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      style="fill: #07be92; --darkreader-inline-fill: #e8e6e3"
      data-darkreader-inline-fill=""
    >
      <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path>
      <path
        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"
      ></path>
    </svg>
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-container">
    <div class="modal-header">
      <logo></logo>
      <h3 class="modal-title">Agregar tarjeta</h3>
    </div>
    <div>
      <form [formGroup]="form">
        <div>
          <input
            class="w-100"
            type="number"
            name="card-number"
            placeholder="Numero de tarjeta"
            formControlName="cardNumber"
            minlength="16"
            pattern=".{16,}"
            required
            title="Se requieren 16 números"
          />
        </div>
        <div class="input-container">
          <input type="number" name="account" placeholder="Cuenta" formControlName="account" />
          <input type="text" name="issuer" placeholder="Issuer" formControlName="issuer" />
        </div>
        <div>
          <input
            class="w-100"
            type="text"
            name="name"
            placeholder="Nombre de tarjeta"
            formControlName="name"
          />
        </div>
        <div>
          <input class="w-100" type="text" name="marca" placeholder="Marca" formControlName="marca" />
        </div>
        <div>
          <select class="w-100" name="status" formControlName="status">
            <option value="" selected hidden>Estatus</option>
            <option value="activa">Activa</option>
            <option value="desactivada">Desactivada</option>
          </select>
        </div>
        <div>
          <input class="w-100" type="text" name="amount" placeholder="Saldo" formControlName="amount" />
        </div>
        <div>
          <select class="w-100" name="type" formControlName="type">
            <option selected value="" hidden>Tipo de cuenta</option>
            <option value="titular">Titular</option>
            <option value="co-titular">Co-titular</option>
          </select>
        </div>
      </form>
    </div>
    <div class="buttons-container">
      <button
        type="button"
        class="modal-button-cancel"
        (click)="modal.close('Save click')"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="modal-button-success"
        [disabled]="form.invalid"
        (click)="save()"
      >
        Agregar tarjeta
      </button>
    </div>
  </div>
</ng-template>
