@use './../../../assets/styles/variables';
@use './../../../assets/styles/mixins';

.add-card{
  @include mixins.card;
  padding: 1rem;
  width: 100%;
  color: variables.$base-color;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px dashed variables.$base-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.modal-container{
  padding: 1rem 3rem;
}

.modal-header{
  border-bottom: none;
}

.modal-title{
  color: variables.$grey;
  font-size: 1rem;
}

input, select{
  height: 3rem;
  margin-bottom: 1rem;
  padding: .5rem;
  border: 1px solid variables.$grey-light;
  color: variables.$grey-light;
  background-color: #fff;
}

input:focus, select:focus{
  outline: 1px solid variables.$base-color;
  border: none;
  color: variables.$base-color;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: variables.$grey-light;
}
::-moz-placeholder { /* Firefox 19+ */
  color: variables.$grey-light;
}
:-ms-input-placeholder { /* IE 10+ */
  color: variables.$grey-light;
}
:-moz-placeholder { /* Firefox 18- */
  color: variables.$grey-light;
}

input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: variables.$base-color;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
  color: variables.$base-color;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
  color: variables.$base-color;
}
input:focus:-moz-placeholder { /* Firefox 18- */
  color: variables.$base-color;
}

.input-container{
  display: flex;
  justify-content: space-between;
}

.input-container input{
  width: 48%;
}

.buttons-container{
  display: flex;
  flex-direction: column;
}

.buttons-container button{
  padding: 1rem;
  border: none;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.modal-button-cancel{
  background-color: variables.$grey-light;
}

.modal-button-success{
  background-color: variables.$base-color;
}

@media (min-width: 768px) {
  .buttons-container{
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
  }

  .buttons-container button{
    width: 40%;
  }
}
