$base-color: #07be92;
$base-color-light: #a2e2d2;
$grey: #4f5e61;
$grey-light: #b0bbbd;
$background-white: #f5f5f5;
$background-blue: #01455c;
$font-blue: #0592bf;
$red: #b91949;
$mastercard-red: #e55300;
$mastercard-yellow: #ff9255;
